* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fce0bb;
  background: linear-gradient(to right, #eacda3, #d6ae7b);
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #fce0bb;
  background: linear-gradient(to right, #eacda3, #d6ae7b);
  text-align: center;
  padding: 20px;
  width: 100%;
}
.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
.header-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header-button__button {
  height: 3rem;
}
.reservations-button {
  background-color: #748e54 !important;
  text-decoration: none;
}
.reservations-button:hover {
  background-color: #5a6e42 !important;
}
.calendar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
#calendar {
  width: 300px;
}
#calendar-button {
  background-color: #748e54;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 15rem;
  align-self: center;
  margin-top: 10px;
}
#calendar-button:hover {
  background-color: #45a049;
  cursor: pointer;
}
#intrucciones-section {
  text-align: center;
  padding: 20px;
  margin: 10px auto;
}
#intrucciones-section h3 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
#intrucciones-section p {
  color: #333;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}
#cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
#cards-section div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  width: 18rem;
  height: 21rem;
  border: 2px solid black;
  background-color: #f8b763;
  background: linear-gradient(to right, #f2b362, #e7ba7f);
  border-radius: 4px;
  animation: fadeIn 800ms forwards;
}
.favorite-button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 10rem;
  align-self: center;
}
.favorite-button:hover {
  background-color: #e65b50;
  cursor: pointer;
}
.reservar-button {
  background-color: #748e54;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 15rem;
  align-self: center;
}
.reservar-button:hover {
  background-color: #45a049;
  cursor: pointer;
}

#cards-section img {
  width: 100%;
  height: 8.5rem;
  object-fit: cover;
  border-radius: 4px;
}
.material-symbols-outlined.filled {
  font-variation-settings: "FILL" 1;
}
.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.filter-input {
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
}
.filter-button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  width: 14rem;
  cursor: pointer;
  text-align: center;
  overflow: ellipsis;
}
.calendar-header {
  background-color: #8cff00;
  color: white;
}
.vc {
  background-color: #a37b73 !important;
  padding: 10px;
  border-radius: 8px;
}
.date-btn {
  background-color: #49423971;
  color: white;
}
.date-btn:hover {
  background-color: #6f1a07c6;
  color: white;
}
.vc-date[data-vc-date-selected] .date-btn {
  background-color: #6f1a07 !important;
  color: #e1a6a6;
}
.date-btn[aria-disabled="true"] {
  background-color: #49423957;
  color: #a9a9a9;
  cursor: not-allowed;
  opacity: 0.6;
}
.vc-date[data-vc-date-today] .date-btn {
  background-color: #5c4844e7;
  color: #ffffff;
  font-weight: bold;
}
#calendar .vc-week__day[data-vc-week-day-off] {
  color: #980808;
  font-weight: bold;
  border-radius: 4px;
}
.delete-card-reserva {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 10rem;
  align-self: center;
}
.delete-card-reserva:hover {
  background-color: #e65b50;
  cursor: pointer;
}
.edit-reserva-button {
  background-color: #4da6ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 10rem;
  align-self: center;
}
.edit-reserva-button:hover {
  background-color: #006bb3;
  cursor: pointer;
}
#cards-section-reservas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
#cards-section-reservas div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  width: 20rem;
  height: 29rem;
  border: 2px solid black;
  background-color: #f8b763;
  background: linear-gradient(to right, #f2b362, #e7ba7f);
  border-radius: 4px;
  animation: fadeIn 800ms forwards;
}
